body {
  margin: 0;
  font-family: 'Sen', sans-serif;

  background-color: #D6EAF8;
}

header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;

    background-color: white;
  }

header span a{
    text-decoration: none;
    color: black;

    font-size: 20px;
  }

  /*
main {
  top, right, bottom, left.
  margin: 20px 50px 50px 50px;
}
*/

div.headline {
  font-size: 230px;
  font-weight: 500;
  margin: 20px 50px 50px 50px;
  color: black;     /* evtl. eher black */
}

div.headline a {
  color: #212F3D;
  text-decoration: none;
}

div.headline a:hover {
  text-decoration: line-through;
}

div.text {
  color: #212F3D;
  font-size: 70px;
  font-weight: 10;
  line-height: 1.2;
  margin: 20px 50px 0px 50px;
  padding: 0px 0px 0px 0px;
  text-align: justify;
}

div.text_background_white {
  background-color: white;
}

div.text_background_blue {
  background-color:  #D6EAF8;
}


/*
div.img-wrapper {
  margin-top: 50px;
  display:inline-block;
 }

img {

  width:  309px;
  height: 422px;
  object-fit: cover;
}
*/

* {
  box-sizing: border-box;
}

.column_1 {
  float: left;
  width: 25%;
  padding: 50px 5px 5px 5px;
}

.column_2 {
  float: left;
  width: 50%;
  padding: 5px 5px 50px 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

